@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

main {
  width: 100%;
  @include breakpoint(sm) {
    padding: 0 0.938rem; // 0px 15px
  }
}

.hero-section {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 5rem;
  // max-width: 120rem;
  width: 100%;
  height: 23.375rem; // 374px
  background-image: url("../image"), $gradient-secondary;
  background-size: 120rem 51.063rem; // 1920px 817px
  // background-position: center 3.375rem; // 54px
  background-repeat: no-repeat;
  @include breakpoint(sm) {
    background-size: 80.188rem 23.375rem; // 1283px 374px
  }
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  max-width: 75rem; // 1200px
  width: 100%;
  height: 10.563rem; //169px
  padding: 0.625rem; // 10px
  gap: 0.625rem; // 10px
  @include breakpoint(xl) {
    padding: 0 2.5rem;
  }
  @include breakpoint(sm) {
    width: 21.25rem; // 340px
    height: 10.563rem; // 169px
    padding: 0.625rem; // 10px
  }
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40rem;
  min-width: 20rem;
}

.details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 2;
  gap: 10px;
}

.MaxAT,
.WD,
.MinAT,
.PoP12h {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../../../static/src/icon/thunderstorm.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
