@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.375rem; //  54px
  display: flex;
  justify-content: center;
  background-color: $white;
  z-index: 2;
  @include breakpoint(xl) {
    padding: 0 2.5rem;
  }
  @include breakpoint(sm) {
    padding: 0rem;
  }
}

.navigation-container {
  max-width: 75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-brand {
  text-decoration: none;
  font-weight: $font-weight-bold;
  font-size: $h2-font-size;
  line-height: $line-height-headline;
  @include breakpoint(sm) {
    margin-left: 0.625rem;
  }
}

.navigation-menu {
  display: flex;
  align-items: flex-start;
}

.navigation-collapse {
  display: flex;
  align-items: center;
}
