@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#index-container {
  width: 100%;
  padding: 0 2.5rem; // 0px 40px
  @include breakpoint(sm) {
    padding: 0 0.938rem; // 0px 15px
  }
}

.hero {
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  height: 23.375rem; // 374px
  background-image: url("../image/welcome.png"), $gradient-secondary;
  background-size: 120rem 33.375rem; // 1920px 534px
  background-position: center 3.375rem; // 54px
  background-repeat: no-repeat;
  @include breakpoint(sm) {
    background-size: 80.188rem 23.375rem; // 1283px 374px
  }
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  max-width: 75rem; // 1200px
  width: 100%;
  height: 10.563rem; //169px
  padding: 0.625rem; // 10px
  gap: 0.625rem; // 10px
  @include breakpoint(xl) {
    padding: 0 2.5rem;
  }
  @include breakpoint(sm) {
    width: 21.25rem; // 340px
    height: 10.563rem; // 169px
    padding: 0.625rem; // 10px
  }
}

.slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.313rem; // 149px
  color: $secondary-10;
  @include breakpoint(sm) {
  }
}

.slogan-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4.875rem; //78px
}
.slogan-description {
  white-space: nowrap;
}

.slogan-title {
  text-shadow: $blue-gray-shadow;
}
