/* 指標css */

/* .wet-principle,
.temp-principle {
  position: absolute;
  bottom: 0;
  padding: 20px;
} */
/* 
.wet-principle {
  right: 0px;
}

.temp-principle {
  right: -100px;
} */

.wet-title,
.temp-title {
  font-size: 16px;
  margin-top: 20px;
  color: #ffffff;
}

.wet-marker,
.temp-marker {
  border-radius: 50px;
  width: 40px;
  height: 250px;
}

#glass {
  border: 2px solid;
  border-color: #ffffff;
  position: relative;
  background: linear-gradient(
    360deg,
    rgba(249, 214, 85, 1) 30%,
    rgba(196, 214, 131, 1) 40%,
    rgba(143, 187, 86, 1) 50%,
    rgba(91, 160, 41, 1) 60%,
    rgba(40, 133, 0, 1) 70%,
    rgba(30, 138, 158, 1) 80%,
    rgba(21, 112, 180, 1) 100%
  );
}

#wet-percent,
#temp-cel {
  position: absolute;
  bottom: 0;
}

#markings,
#temp-markings {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: -30px;
  right: 0;
}

#markings li,
#temp-markings li {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

#markings li:after,
#temp-markings li:after {
  position: absolute;
  margin-top: 30px;
  margin-left: 15px;
  width: 80px;
  color: #ffffff;
  font-size: 14px;
}

#markings li:first-child {
  visibility: hidden;
}

#markings li:nth-child(2):after {
  content: "70%";
}

#markings li:nth-child(6):after {
  content: "40%";
}

#markings li:nth-child(9):after {
  content: "20%";
}

#temp-glass {
  border: 2px solid;
  border-color: #ffffff;
  position: relative;
  background: linear-gradient(
    360deg,
    rgba(0, 36, 89, 1) -1%,
    rgba(0, 100, 138, 1) 5%,
    rgba(0, 216, 255, 1) 14%,
    rgba(0, 161, 61, 1) 24%,
    rgba(80, 205, 106, 1) 35%,
    rgba(175, 240, 105, 1) 49%,
    rgba(255, 255, 0, 1) 61%,
    rgba(255, 170, 0, 1) 72%,
    rgba(255, 0, 0, 1) 85%,
    rgba(128, 0, 128, 1) 100%
  );
}

#temp-markings li:first-child {
  visibility: hidden;
}

#temp-markings li:nth-child(2):after {
  content: "38°C";
}

#temp-markings li:nth-child(6):after {
  content: "27°C";
}

#temp-markings li:nth-child(9):after {
  content: "15°C";
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.search-box {
  width: 100%;
  height: 60px;
  border-radius: 10px;
}

.search-input {
  width: 80%;
  border: none;
  outline: none;
  height: 100%;
  margin-left: 10px;
  font-size: 20px;
}

.search-input input {
  color: #ffffff;
}

select {
  /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 20px;
}

#search-button {
  width: 120px;
  height: 60px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  background-color: #eeeeee;
  transition: 0.2s linear;
  color: #000000;
}

#search-button:hover {
  background-color: #2197c7;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .search-input {
    width: 60%;
  }

  select {
    padding: 10px 10px;
  }

  .wet-principle,
  .temp-principle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .search-input {
    width: 40%;
  }
}
