@forward "base/reset";
@forward "abstracts/variables";

@use "abstracts/mixins";
@use "base/typography";
@use "base/base";

// // Components
@use "components/button";
@use "components/search-bar";
@use "components/list-bar";
@use "components/attractions-card";
@use "components/separator";
@use "components/carousel";

// Layout
@use "layout/navigation";
@use "layout/footer";
@use "layout/dialog";

// Pages
@use "pages/index.scss";
@use "pages/attraction.scss";
@use "pages/booking.scss";
@use "pages/thankyou.scss";
